body {
    font-family: 'Montserrat', sans-serif;
    background-color: #808080;
    font-size: 15px;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

.header__block {
  padding: 0;
  }
  
  .header__inner{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  header {
      padding-top: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      background-color: aliceblue;
  }
  .header__logo{
      font-size: 30px;
      font-weight: 700;
      background-image: linear-gradient(90deg, #8b00ff, #fda5b3);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: 0;
  }
  /* Navigation */
  .nav{
      font-size: 15px;
  }
  .nav__link {
      display: inline-block;
      vertical-align: top;
      margin: 5px 20px;
     color: black;
     text-decoration: none;
     transition: color .2 linear;
  }
  /* Icons */
  .social{
      padding-top: 5px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      display: inline-block;
      text-decoration: none;
  }
/* catalog */
* {
    box-sizing: border-box;
  }
  
  main {
    margin: 0;
    padding: 50px;
    font-family: sans-serif;
    margin-left: 15px;
    padding-top: 75px;
  }
  
  .cards {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch

  }
  
  .cards__item:not(:last-child) {
    margin-right: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 480px;
    background-color: #bfbfbf;
    border-radius: 5px;
  }
  
  .card__image {
    height: 250px;
  }
  
  .card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 5px 0 0
  }
  
  .card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px ;
    padding-bottom: 0px ;
    
    flex-grow: 1;
  }
  
  .card__title {
    margin: 0;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .card__descr {
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
  }
  
  
  .price{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    background-color:#383737d5;
    color:#fff;
    position: relative;
    white-space: nowrap;
    padding:2px 120px 1px 120px;
    border-radius: 5px 5px 0 0;
    
  }
  
  .card__btn {
    
    border: 0;
    border-radius: 5px;
    background: #000;
    color: #fff;
    padding: 12px 17px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    
    
  }
  
  .cards__item .card {
    height: 100%;
  }

  .card_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 305px);
    width: 100%;
    max-width: 1500px; 
    justify-content: center;
    justify-items: center; 
    column-gap: 250px; 
    row-gap: 20px; 
    margin: 0 auto;
  }

  .card_knopka{
    color:#fff;
    text-decoration: none;
    padding: 8px 150px;
  }
  
  .fff {
    display: grid;
    grid-template-columns: repeat(auto-fill, 305px);
    width: 100%;
    max-width: 1500px; 
    justify-content: center;
    justify-items: center; 
    column-gap: 250px; 
    row-gap: 20px; 
    margin: 0 auto;
    

  }