body {
    font-family: 'Montserrat', sans-serif;
    background-color: #808080;
    font-size: 15px;
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header__inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header {
    padding-top: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: aliceblue;
}
.header__logo{
    font-size: 30px;
    font-weight: 700;
    background-image: linear-gradient(90deg, #8b00ff, #fda5b3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: 0;
}
/* Navigation */
.nav{
    font-size: 15px;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 5px 20px;
   color: black;
   text-decoration: none;
   transition: color .2 linear;
}
/* Icons */
.social{
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: inline-block;
    text-decoration: none;
}

/* Intro */
.intro {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width: 100%;
    height: 100vh;
    background: url("../images/intro3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 2px #000;
    
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.intro__title {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
}

.intro__subtitle:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 30px auto;
}

.intro__subtitle {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
}

/* button */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 7px 25px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .2s linear,
    color .2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* block2 */

.block2 {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}

.container2 div {
    flex-wrap: wrap;
    float: left;
    width: calc(100% / 4);
    margin: 5px 0px 5px 0px;
    text-align: center;
    color: rgb(236, 233, 233);
    text-shadow: 2px 2px 2px #000;
}


.container2_armchair {
    background: url("../images/armchair.jpg");
    height: 100%;
    background-size: cover;
}

.container2_furniture {
    background: url("../images/furniture.jpg");
    height: 100%;
    background-size: cover;
}

.container2_furnituresale {
    background: url("../images/furnituresale.jpg");
    height: 49%;
    background-size: cover;
}

.container2_sofacollection {
    background: url("../images/sofacollection.jpg");
    height: 49%;
    background-size: cover;
}

.container2_savingmoney {
    background: url("../images/savingmoney.jpg");
    height: 49.55%;
    background-size: cover;
}

.container2_naturalmaterials {
    background: url("../images/naturalmaterials.jpg");
    height: 49.55%;
    background-size: cover;
}

.container_title {
    font-size: 100px;
}

.btn2 {
    display: inline-block;
    vertical-align: top;
    padding: 7px 25px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .2s linear,
    color .2s linear;
}

.btn2:hover {
    background-color: #fff;
    color: #333;
}
/* Block 3 */
.action {
    background-color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.catalog-main{
display: flex;
flex-wrap: nowrap;
}
.apple{
    font-size: 14px;
    max-width: 200px;
    margin-left: 50px;
    margin-right: 50px;
}
.info{
    text-align: left;

}
.image{
margin-top: 10px;
}
.image img{
height: 200px;
width: 150px;
}
.rating{
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
list-style-type:none; ;
}
.rating li{
display: inline-block;
}
.price-incorrect{
font-weight: bold;
text-decoration: line-through;
}
.price{
font-weight: bolder;
color: red;
margin-left: 5px;
}
.border{
border-radius: 10px;
border: 10px #c0c0c0 solid;
overflow: hidden;
}
.border, img {
box-sizing: border-box;
}
.info h3{
margin-top: 0;
margin-bottom: 0;
font-size: 14px;
}
.add-to-cart{
border: none;
}
.shade{
font-size: 14px;
max-width: 200px;
margin-left: 50px;
margin-right: 50px;
}
.divan{
font-size: 14px;
max-width: 200px;
margin-left: 50px;
margin-right: 50px
}
.lazy-sofa{
font-size: 14px;
max-width: 200px;
margin-left: 50px;
margin-right: 50px
}